.main, .head{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main{
    flex-direction: column;
    overflow: hidden;
}

.head{
    flex-direction: row;
    height: 80vh;
    padding: 20px;
    width: 100%;
    background-color: #ededed;
    overflow: hidden;
}
.text{
    width: 25%;
}

.h1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.images{
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: center;

}

.download_section{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.download_button,.explore_button{
    background-color: #20343b;
    border-radius: 20px;
    border: solid;
    border-color: #20343b;
    color: #ededed;
    padding: 10px;
    margin-top: 20px;
    width: 6rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}


.download_button:hover ,.explore_button:hover{
    border: solid;
    border-color: #20343b;
    background-color: #ededed;
    color: #20343b;  
    transition: 0.2s;
}

.download_button{
    color: white;
}

.download_button:hover{
    background-color: white;
}


.divider{
    width: 2px;
    background-color: #20343b;
    height: 100px;
}
	

.part,.downloading_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}
.downloading_section{
    margin: 10px;
    padding: 10px;
    flex-direction: column;

}
.images{
    position: relative;
    width: 650px;
    height: 550px;
}
@media screen and (max-width: 600px){
    
    .head{
        flex-direction: column;
        overflow: hidden;
    }
    .text{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .images{
        width: 350px;
        height: 300px;
    }
    .download_section{
        width: 100%;
        padding: 10px;
    }
}