.left, .right{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    width: 90%;
    margin-left: 5%;
    z-index: -1;
    align-items: center;
    margin-top: 4vw;
    margin-bottom: 4vw;
    position: static;
    overflow: hidden;
}

.left{
   flex-direction: row; 
}

.right{
    flex-direction: row-reverse;
    
}

.textik{
    width: 30%;
    margin-left: 10%;
}

/*Buttons under that line*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.explore_button{
    background-color: #20343b;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 10px;
    margin-top: 20px;
    width: 6rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}


.explore_button:hover{
    
    background-color: white;
    color: #20343b;  
    transition: 0.2s;
}

.div_class{
    position: relative;
    width: 500px;
    height: 400px;
}

.description{
    font-weight: 500;
    margin-top: 1rem;
}


@media screen and (max-width: 600px) {
    .left,.right{
        flex-direction: column;
    }
    .div_class{
        position: relative;
        width: 200px;
        height: 150px;
    }
    .textik{
        width: 80%;
    }
    .explore_button{
        margin-bottom: 10%;
    }
}